<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pAddress" class="com.sample.dependencyinjection.PermanentAddress">
        <property name="pCity" value="Zurich"></property>
        <property name="pState" value="swtch"></property>
    </bean>

    <bean id="tempAddress" class="com.sample.dependencyinjection.TemporaryAddress">
        <property name="area" value="Chennai"/>
        <property name="city" value="XYZCity"/>
        <property name="state" value="CA"/>
        <property name="vals">
            <list>
                <value>Test1</value>
                <value>Test2</value>
                <value>Test3</value>
            </list>
        </property>
        <property name="details">
            <bean id="contactDetails" class="com.sample.dependencyinjection.ContactDetails">
                <property name="email" value="test@test.com"/>
                <property name="phone" value="1234677"/>
            </bean>
        </property>
    </bean>

    <bean id="employee" class="com.sample.dependencyinjection.Employee">
        <constructor-arg value="6" type="int"/>
        <constructor-arg value="55" type="int"/>
        <constructor-arg value="TestEmployee" type="java.lang.String"/>
        <constructor-arg ref="pAddress"/>
    </bean>

</beans>